#mainHeader{
    font-family: "Press Start 2P";
    color: white;
    border-top: dotted;
    border-bottom: dotted;
    border-color: white;
    padding: 10px;
}
#indexBody{
    background-color: black;
}
